<div class="theme-main-container">
  <div class="login-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-5 col-md-5 left-panel">
          <img src="assets/images/logo-png.png" class="logo" alt="Unilever">
          <!-- <p class="logo-text">Unilever</p> -->
        </div>
        <div class="col-xl-5 col-lg-5 col-md-6">
          <div class="px-2 px-xl-4">
            <div class="login-card">
              <div class="login-card-header">
                <h5>
                  <img src="assets/images/company-logo.gif" class="logo" alt="">
                  Unilever
                </h5>
                <p class="small">Welcome to Unilever</p>
              </div>
              <div class="login-card-body">
                <form class="login-form" [formGroup]="forgotForm">
                  <h4 class="login-card-heading mb-0">For got password?</h4>
                  <p class="text-muted font-sm mb-4 text-center">
                    <small>Enter registered email to get reset password Link</small>
                  </p>
                  <div class="form-group mb-2">
                    <label for="email-input" class="form-control-label">
                      Email
                    </label>
                    <input type="email" formControlName="email" id="email-input" class="form-control">
                    <ng-container *ngIf="forgotForm?.controls?.email?.touched">
                      <small class="text-danger" *ngIf="forgotForm?.controls?.email?.errors?.required">
                        <i class="fa fa-exclamation-circle"></i> Please enter an email
                      </small>
                      <small class="text-danger" *ngIf="forgotForm?.controls?.email?.errors?.pattern">
                        <i class="fa fa-exclamation-circle"></i> Please enter a valid email
                      </small>
                    </ng-container>
                  </div>
                  <div class="form-footer">
                    <div>
                      <button type="button" class="btn btn-secondary" (click)="submit()">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>