.user-details{
    color: #000;
}
.user-name{
    cursor: pointer;
}
.fa{
    color:#000;
}
.heading{
    // text-align: center !important;
    // margin-left: 300px !important;
    // font-weight: bolder;
    // margin-top: 10px !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.header-details
{
  padding-left: 5px;
}
.c_logo_image{
    height: 90%;
}