<!-- <div class="theme-main-container">
  <div class="login-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-5 col-md-5 left-panel">
          <img src="assets/images/logo-png.png" class="logo" alt="Unilever" />
          <!-- <p class="logo-text">Unilever</p> -->
        <!-- </div>
        <div class="col-xl-5 col-lg-5 col-md-6">
          <div class="px-2 px-xl-4">
            <div class="login-card">
              <div class="login-card-header">
                <h5>
                  <img src="assets/images/company-logo.gif" class="logo" alt="" />
                  Unilever
                </h5>
                <p class="small">Welcome to Unilever</p>
              </div>
              <div class="login-card-body">
                <form class="login-form" [formGroup]="loginForm">
                  <h4 class="login-card-heading mb-0">Login</h4>
                  <p class="text-muted font-sm mb-4 text-center">
                    <small>Enter registered email and password</small>
                  </p>
                  <div class="form-group mb-2">
                    <label for="email-input" class="form-control-label">
                      Email
                    </label>
                    <input type="email" formControlName="email" id="email-input" class="form-control" />
                    <ng-container *ngIf="loginForm?.controls?.email?.touched">
                      <small class="text-danger" *ngIf="loginForm?.controls?.email?.errors?.required">
                        <i class="fa fa-exclamation-circle"></i> Please enter an
                        email
                      </small>
                      <small class="text-danger" *ngIf="loginForm?.controls?.email?.errors?.pattern">
                        <i class="fa fa-exclamation-circle"></i> Please enter a
                        valid email
                      </small>
                    </ng-container>
                  </div>
                  <div class="form-group mb-2">
                    <label for="password-input" class="form-control-label">
                      Password
                    </label>
                    <input type="password" formControlName="password" id="password-input" class="form-control" />
                    <ng-container *ngIf="loginForm?.controls?.password?.touched">
                      <small class="text-danger" *ngIf="loginForm?.controls?.password?.errors?.required">
                        <i class="fa fa-exclamation-circle"></i> Please enter a
                        password
                      </small>
                      <small class="text-danger" *ngIf="loginForm?.controls?.password?.errors?.minlength">
                        <i class="fa fa-exclamation-circle"></i> Password must
                        contain at least 6 characters
                      </small>
                    </ng-container>
                  </div>
                  <div class="text-end">
                    <a role="button" class="text-decoration-none" [routerLink]="['/auth/password/forgot']">Forgot
                      Password?</a>
                  </div>

                  <div class="form-footer">
                    <div>
                      <!-- <button type="button" class="btn btn-secondary" (click)="login()">
                        Login
                      </button> -->
                      <!-- <p>
                        New User?
                        <a role="button" class="text-decoration-none" routerLink="/auth/sign-up">Sign Up</a>
                      </p>
                    </div>
                    <h4 class="login-card-heading mb-0">OR</h4> -->
                    <!-- <button type="button" class="btn btn-info" (click)="userLogin()">
                      Login using Microsoft
                    </button> -->
                  <!-- </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  -->
<!-- <div>
  <p><strong>First Name: </strong> {{profile?.givenName}}</p>
  <p><strong>Last Name: </strong> {{profile?.surname}}</p>
  <p><strong>Email: </strong> {{profile?.userPrincipalName}}</p>
  <p><strong>Id: </strong> {{profile?.id}}</p>
</div> -->