<div>
  <div class="page-header">
    <div class="header-left">
      <div class="header-text">
        <h2 class="header-title text-center">Summary</h2>
      </div>
    </div>
  </div>
  <div class="page-container">
    <div class="page_row" *ngIf="summaryList">
      <!-- <div class="col-3 d-flex flex-row flex-sm-row ml-3">
        <div class="card info-card  me-sm-3 mb-3" routerLink="/user-management">
          <div class="card-body info-card-body">
            <div class="card-info-title">
              <p class="text">No. Of Active Users</p>
              <div class="card-info-label fs-1">{{summaryList.usersCount}}</div>
            </div>
            <div class="card-info-icon icon">
              <i class="fa" [ngClass]="'fa-users'"></i>
            <d/iv>
          </div>
        </div>
      </div> -->
      <div class="col-4 d-flex flex-row flex-sm-row justify-center div_col">
        <div class="card info-card  me-sm-3 mb-3" routerLink="/reports">
          <div class="card-body info-card-body"  style="width: auto;">
            <div class="card-info-title">
              <p class="text">No. Of Created Reports</p>
              <div class="card-info-label fs-1">{{summaryList.reportsCount}}</div>
            </div>
            <div class="card-info-icon icon">
              <i class="fa" [ngClass]="'fa-chart-line'"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex flex-row flex-sm-row ml-3 div_col">
        <div class="card info-card  me-sm-3 mb-3" routerLink="/saved-queries">
          <div class="card-body info-card-body"  style="width: auto;">
            <div class="card-info-title">
              <p class="text">No. Of Sql Query Saved</p>
              <div class="card-info-label fs-1">{{summaryList.queryCount}}</div>
            </div>
            <div class="card-info-icon icon">
              <i class="fa" [ngClass]="'fa-database'"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex flex-row flex-sm-row ml-3 div_col">
        <div class="card info-card  me-sm-3 mb-3" routerLink="/upload">
          <div class="card-body info-card-body " style="width: auto;">
            <div class="card-info-title">
              <p class="text">No. Of Files Uploaded</p>
              <div class="card-info-label fs-1">{{summaryList.uploadedFilesCount}}</div>
            </div>
            <div class="card-info-icon icon">
              <i class="fa" [ngClass]="'fa-upload'"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex flex-row flex-sm-row ml-3 div_col" *ngIf="summaryList.usersCount"     >
        <div class="card info-card  me-sm-3 mb-3" routerLink="/user-management">
          <div class="card-body info-card-body" style="width: auto;">
            <div class="card-info-title">
              <p class="text">No. Of Active Users</p>
              <div class="card-info-label fs-1">{{summaryList.usersCount}}</div>
            </div>
            <div class="card-info-icon icon">
              <i class="fa" [ngClass]="'fa-users'"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
