.page-container{
  display: flex;
 flex-wrap: wrap;
}
.text {
  clear: both;
  display: inline-block;
  overflow: hidden;
  // white-space: nowrap;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  }
  .card{
    margin-bottom: 20px;
    width: 350px;
}
.icon{
  margin-top: auto;
  margin-left: -80px;
  position: relative;
  // position: relative;
}
.div_width{
  width: auto;
}
.page_row{
  display: flex;
  flex-wrap: wrap;
}
.div_col{
  min-width: 200px;

}
