<div class="p-3">
  <h1>Theme Colors</h1>
  <div class="d-flex flex-wrap">
    <div class="color-box primary-dark rounded shadow">
      Primary<br>Dark
    </div>
    <div class="color-box primary-dark2 rounded shadow">
      Primary<br>Dark 2
    </div>
    <div class="color-box primary-dark3 rounded shadow">
      Primary<br>Dark 3
    </div>
    <div class="color-box primary-dark4 rounded shadow">
      Primary<br>Dark 4
    </div>
    <div class="color-box primary-light rounded shadow">
      Light
    </div>
    <div class="color-box primary-light2 rounded shadow">
      Light 2
    </div>
  </div>
  <h1>Typography Colors</h1>
  <div class="d-flex flex-column flex-wrap">
    <p class="text-normal">Text Normal</p>
    <p class="text-dark">Text Dark</p>
    <p class="text-light">Text Light</p>
    <p class="text-icon">Text Icon</p>
  </div>
</div>