<div class="theme-main-container">
  <div class="login-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-5 col-md-5 left-panel">
          <img src="assets/images/logo-png.png" class="logo" alt="Unilever">
          <!-- <p class="logo-text">Unilever</p> -->
        </div>
        <div class="col-xl-5 col-lg-5 col-md-6">
          <div class="px-2 px-xl-4">
            <div class="login-card">
              <div class="login-card-header">
                <h5>
                  <img src="assets/images/company-logo.gif" class="logo" alt="">
                  Unilever
                </h5>
                <p class="small">Welcome to Unilever</p>
              </div>
              <div class="login-card-body">
                <form class="login-form" [formGroup]="resetForm">
                  <h4 class="login-card-heading mb-0">Create new Password</h4>
                  <p class="text-muted font-sm mb-4 text-center">
                    <!-- <small>Enter registered email and password</small> -->
                  </p>
                  <div class="form-group mb-2">
                    <label for="password-input" class="form-control-label">
                      Password
                    </label>
                    <input type="password" formControlName="password" id="password-input" class="form-control">
                    <ng-container *ngIf="resetForm?.controls?.password?.touched">
                      <small class="text-danger"
                        *ngIf="resetForm?.controls?.password?.errors?.required">
                        <i class="fa fa-exclamation-circle"></i> Please enter a password
                      </small>
                      <small class="text-danger"
                        *ngIf="resetForm?.controls?.password?.errors?.minlength">
                        <i class="fa fa-exclamation-circle"></i> Password must contain at least six characters
                      </small>
                    </ng-container>
                  </div>
                  <div class="form-group mb-2">
                    <label for="confirm-password-input" class="form-control-label">
                      Confirm Password
                    </label>
                    <input type="password" formControlName="confirmPassword" id="confirm-password-input"
                      class="form-control">
                    <ng-container *ngIf="resetForm?.controls?.confirmPassword?.touched">
                      <small class="text-danger"
                        *ngIf="resetForm?.controls?.confirmPassword?.errors?.required">
                        <i class="fa fa-exclamation-circle"></i> Please enter confirm password
                      </small>
                      <small class="text-danger" *ngIf="resetForm?.errors?.invalidConfirmPassword">
                        <i class="fa fa-exclamation-circle"></i> Confirm password and password must match
                      </small>
                    </ng-container>
                  </div>
                  <div class="form-footer">
                    <div>
                      <button type="button" class="btn btn-secondary" (click)="submit()">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>