$app-background-color: rgba(223, 223, 223, 0.884);

$app-primary-dark: #121198;
$app-primary-dark2: #004ecc;
$app-primary-dark3: #0079E6;
$app-primary-dark4: #009FE7;
$app-primary-light: #00c4d6;
$app-primary-light2: #a1a8bb;
$app-invalid-input-border-color: #dc3545;

$app-primary-border-color: $app-primary-dark2;
$app-input-border-color: $app-primary-light;
$app-menu-selected-background: $app-primary-light2;

$app-font-family: 'Calibri', sans-serif;

$app-header-height: 60px;
$app-footer-height: 40px;
$app-sidenav-width: 250px;
$app-sidenav-collapsed-width: 60px;

$app-text: #505050;
$app-text-dark: #303030;
$app-text-light: #6A6A6A;
$app-icon: $app-primary-dark2;
